/* 
   _____                         __                      
  / ___|   _ _ __ _ __ _   _ ___| |    ___   __ _ _ __  
 | |  | | | | '__| '__| | | / __| |   / _ \ / _` | '_ \ 
 | |__| |_| | |  | |  | |_| \__ \ |__| (_) | (_| | | | |
  \____\__,_|_|  |_|   \__,_|___/_____\___/ \__,_|_| |_|
 / ___|| |_ _   _| | ___   / ___/ ___/ ___|             
 \___ \| __| | | | |/ _ \ | |   \___ \___ \             
  ___) | |_| |_| | |  __/ | |___ ___) |__) |            
 |____/ \__|\__, |_|\___|  \____|____/____/             
            |___/                               
*/

@import url('https://fonts.googleapis.com/css?family=Oxygen|Quicksand:300,400&display=swap&subset=latin-ext');

html, body {
    padding: 0px;
    margin: 0px;    
    font-family: 'Quicksand';
}

h1{
  color: blue;
  opacity: 100%;
}

.Navegation_Bar{  
  display: flex;
  background-color: #65A7A0;
  padding: 5px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

#img_background{
  position: absolute;  
  z-index: auto;
  width: 100%;
  height: 100%;
  opacity: 65%;
}

nav ul{
  display: flex;
}

nav li{ 
  padding-right: 18px;
  list-style: none;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  color:#FFC59A;
}

.main_layout{
  display:   
}

.img-profile{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.icon-item{
  height: 50px;
  width: 50px;
  position: relative;
}

.btn-primary{
  background: #65A7A0;
  border: 1px solid;
  border-radius: 50px;
}

.btn-primary:hover{
  background: #ffffff;
  color: #65A7A0;
  border-color: #65A7A0;
}

.list-group-item{
  list-style: none;
}

.card-img-top{
  height: 300px;
}

/* //Colores de Paleta\\

Azul: #65A7A0
verde amarillo: #7ACB84
Rojo: #FF9F9A
Salmón: #FFC59A

*/